
    <H1>Registro : </H1>
    
    <form method="post">
        <label>Nombre</label>
        <input type="text" name="nombre" />
        <br />
        <label>Apellido</label>
        <input type="text" name="apellido" />
        <br />
        <label>Email</label>
        <input type="text" name="documento" />
        <br />
        <label>Contraseña</label>
        <input type="password" name="password" />
        <br />
        <input type="submit" name="registrar" value="Registrarse" /> 
    </form>
    @ViewBag.Mensaje



