
<H1>Login :</H1>
<form method="post">
    <label>Correo </label>
    <input type="text" name="correo" value="" /> <br />
    <label>Password</label>
    <input type="password" name="password" value="" /> <br />
    <input type="submit" value="Iniciar sesion" />
</form>

@ViewBag.Mensaje